@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;

    
}

#container {
    width: 800px;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;

}

.itens {
background-color: lightblue;
padding: 20px;
margin: 20px;

}

.itens:nth-child(1) {
    flex: 1 1  200px;
}

.itens:nth-child(2) {
    flex: 1 1  200px;
}

.itens:nth-child(3) {
    flex: 1 1  200px;
}