@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

main {
    
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content:center;
    
    
}

header {
    height: 400px;
    order: 0;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: lightseagreen;
}

section#conteudo {
    order: -1;
    flex-basis: 600px;
    flex-grow: 1;
    flex-shrink: 0;
    height: 400px;
    
    background-color: rgba(0, 0, 0, 0.288);
}

