@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

main {
    
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}

section#conteudo {
    background-color: rgba(0, 0, 0, 0.288);
}