@charset "UTF-8";

@media screen and (min-width: 992px) {
    #burguer {
        display: none;
    }
    menu {
        display: block;
    }

    menu ul li {
        display: inline-block;
    }

    menu a {
        border-top: none;
        border-radius: 5px 5px 0px 0px;
    }

main {
    width: 992px;
    
}
}